@media screen and (max-width: 767px) {
  html {
    font-size: 1.5vw;
  }
  .header-box {
  min-height: 400px;
}
.header-box__link{
  margin: 0;
}
.header-box__title{
  font-size: 30px;
  line-height: 30px;
}
  .navbar {
    height: 20vh;
  }

  .contact {
    flex-direction: column;
    align-items: center;
  }

  .menu-box {
    justify-content: space-around;
  }

  .mainbox__text {
    flex-direction: column;
  }

  .counters {
    flex-direction: column;
  }

  .mainbox__img img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 320px;
  }

  .resultbox__article {
    height: 20vh;
  }

  .news__items {
    flex-direction: column;
  }

  .news__item{
    margin: 1rem auto;
  }
  .news__link svg {
    margin: 0 0 0 1rem;
  }



  .footer__box {
    flex-direction: column;
  }

  .footer__logo {
    flex: 0 1 100px;
  }

  .footer__contact {
    justify-content: center;
  }

  .footer__contact-link img {
    width: 35px;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 2vw;
  }
  .footer__logo {
    display: flex;
    align-items: center;

  }

  .footer__logo img {
    width: 100px;
    align-items: center;


  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  /* .resultbox__article {
    height: 20vh;
  } */

  html {
    font-size: 1vw;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  html {
    font-size: 1vw;
  }

}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  html {
    font-size: 1vw;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }

  html {
    font-size: 1vw;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1800px;
  }

  html {
    font-size: 0.8vw;
  }
}